{% extends 'base.html' %}
    {% block page_header %}
                <h1 class="page-header">{{ page_title }}
                    <small>Subheading</small>
                </h1>
    {% endblock %}
    {% block breadcrumbs %}
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="active">{{ page_title }}</li>
                </ol>
    {% endblock %}
    {% block center_content %}
        {{slug}}
       {{ content|safe }}
    {% endblock %}
